<section id="footer-area">
    <div class="container">
        <div class="columns">
            <div class="categories">
                <h3>Categories</h3>
                <a href="#">
                    <p>Women</p>
                </a>
                <a href="#">
                    <p>Men</p>
                </a>
                <a href="#">
                    <p>Accessories</p>
                </a>
                <a href="#">
                    <p>New Arrivals</p>
                </a>
                <a href="#">
                    <p>Best Seller</p>
                </a>
                <a href="#">
                    <p>Sale Products</p>
                </a>
            </div>
            <div class="buy">
                <h3>Buy With Us</h3>
                <a href="#">
                    <p>About Us</p>
                </a>
                <a href="#">
                    <p>Services</p>
                </a>
                <a href="#">
                    <p>Contact Us</p>
                </a>
                <a href="#">
                    <p>FAQs</p>
                </a>
                <a href="#">
                    <p>Privacy Policy</p>
                </a>
                <a href="#">
                    <p>Cookie Policy</p>
                </a>
                <a href="#">
                    <p>Terms and Conditions</p>
                </a>
            </div>
            <div class="contacts">
                <h3>Contacts</h3>
                <p>
                    <span>Address:&nbsp;</span>2408 Bryant Dr Los Angeles, CA 19378, United States of America
                </p>
                <p>
                    <span>Phone:&nbsp;</span>+081 0212 4304; +081 3023 1904
                </p>
                <p>
                    <span>Hours:&nbsp;</span>all week from 9 am to 9 pm
                </p>
                <p>
                    <span>E-mail:&nbsp;</span>
                    <a href="#">info@goldjersey.com</a>
                </p>
            </div>
            <div class="newsletter">
                <h3>Newsletter Signup</h3>
                <p>Sign up for our e-mail and be the first to know about our special offers! Furthermore, we will give a 15% discount on the next order after you sign up.</p>
                <form class="form-group">
                    <input class="textarea" placeholder="Enter your e-mail" type="text"><button class="submit" type="submit">
                        <a href="#">Join Us!</a>
                    </button>
                </form>
                <div class="social-icons">
                    <a href="#">
                        <i aria-hidden="true" class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i aria-hidden="true" class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i aria-hidden="true" class="fa fa-google"></i>
                    </a>
                    <a href="#">
                        <i aria-hidden="true" class="fa fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i aria-hidden="true" class="fa fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="footerCopyright">
    <div class="footer-end">
        <img alt="" src="https://i.ya-webdesign.com/images/yeezy-logo-transparent-png-1.png">
        <p>&copy; Yeezy 2020. All Right Reserved</p>
    </div>
</section>