<header>
    <div class="left-menu">
        <div class="toplogo">
            <img alt="" src="https://i.ya-webdesign.com/images/yeezy-logo-transparent-png-1.png">
        </div>
        <nav class="nav-items">
            <a class="navlink" href="#">Home</a>
            <a class="navlink" href="#">About</a>
            <a class="navlink" href="#">Shop</a>
        </nav>
    </div>
    <div class="right-menu">
        <a href="#">
            <i aria-hidden="true" class="fa fa-shopping-cart"></i>
        </a>
    </div>
</header>