<section id="promosect">
    <div class="leftlayercontainer">
        <div class="layer left">
            <p>pepe</p>
        </div>
    </div>
    <div class="rightlayercontainer">
        <div class="layer right">
            <p>popo</p>
        </div>
    </div>
    <div class="imgcontainer">
        <div class="imgdiv">
            <img alt="" src="https://images.squarespace-cdn.com/content/v1/53487005e4b095a3fb0ae4d6/1520150488295-HFHH4GABLZ8EN6YQP8O1/ke17ZwdGBToddI8pDm48kFWxnDtCdRm2WA9rXcwtIYR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UcTSrQkGwCGRqSxozz07hWZrYGYYH8sg4qn8Lpf9k1pYMHPsat2_S1jaQY3SwdyaXg/Yeezy+350+v2+Blue+Tint_Photography+by+Kev+Foster+for+Philip+Browne+2.jpg">
        </div>
        <div class="imgdiv">
            <img alt="" src="https://www.fashion-north.com/wp-content/uploads/2015/11/PA-22218138.jpg">
        </div>
    </div>
</section>